{% extends 'auth/base.html' %}
{% load static %}

{% block title%}WEBapp Dashboard Send Money{% endblock %}

{% block content %}

    <div id="content" class="p-4 p-md-5">

        <h2 class="mb-4">Send Money</h2>

        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}

            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}