{% extends 'auth/base.html' %}
{% load static %}

{% block title%}WEBapp Dashboard Transaction History{% endblock %}

{% block content %}

    <div id="content" class="p-4 p-md-5">

        <h2 class="mb-4">Transaction History</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.timestamp|date:"F d, Y" }}</td>
                    <td>{{ transaction.sender.username }}</td>
                    <td>{{ transaction.recipient.username }}</td>
                    <td>{{ currency }}{{ transaction.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}